body {
    background: #74ebd5;
    background: -webkit-linear-gradient(to right, #74ebd5, #ACB6E5);
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    min-height: 100vh;
}


@media (min-width: 576px) {
    .container{
        max-width: 970px;
    }
}


@media (min-width: 768px) {
    .container{
        max-width: 970px;
    }
}


@media (min-width: 992px) {
    .container{
        max-width: 970px;
    }
}


@media (min-width: 1200px) {
    .container{
        max-width: 1600px;
    }
}